APScheduler
attrs
beautifulsoup4
certifi
cffi
charset-normalizer
h11
idna
lxml
outcome
pycparser
PySocks
pytz
requests
selenium
setuptools
six
sniffio
sortedcontainers
soupsieve
trio
trio-websocket
typing_extensions
tzdata
tzlocal
undetected-chromedriver
urllib3
websocket-client
websockets
wsproto
